PORT=
NODE_ENV=
MONGO_URI=
JWT_SECRET=
JWT_REFRESH_SECRET=
CLIENT_URL=
MOBILE_URL=
ADMIN_URL=
OPEN_METEO_BASE_URL=
DATA_GOV_IN_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
MANDI_RESOURCE_ID=